.link span{
    background-color: teal;
    width:100%;
    visibility: hidden;
}
.link:hover span{
    
    background-color: teal;
    animation: 1.5s bar ease-in-out ;
    
}
@keyframes bar{
    0%{
        visibility: visible;
        width: 10%
    }
    /* 50%{
        width: 50%
    } */
    100%{
        width: 100%;
    }
}