@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2); 
}
 */


.scrollbar::-webkit-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}




