@import "tailwindcss";


.swiper-button-next::after,
.swiper-button-prev::after {
  color: #F8F5F2; 
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  opacity: 1;
  pointer-events: auto;
}


.swiper-button-next {
  right: 16px;
}
.swiper-button-prev {
  left: 16px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
